$base-font-size: 16px;

$slides-map: (1: 'dog1', 2: 'dog2', 3: 'dog3');
$imgs-path: '../images/';
$fonts-path: '../fonts/';

$project-fonts: ('Roboto Bold': 'roboto-bold1-webfont', 'Roboto Light': roboto-light1-webfont);