@import "../utils/functions";

$slides-map: (1: peru, 2: red, 3: green);
@for $index from 1 through 3 {
  $start: ($index - 1) * 100;

  @keyframes slide-#{$index}-animation {
    @for $index from 0 through 5 {
      $step: 0;

      @if $index == 2 or $index == 3 {
        $step: 100;
      } @else if $index == 4 or $index == 5 {
        $step: 200;
      }

      #{$index * 20}% {left: $start -$step *1%;}

    }

  }
}

.slider {
  &__box {
    position: relative;
    overflow: hidden;
    min-height: toRem(400px);
  }

  &__slide {
    width: 100%;
    height: toRem(400px);
    position: absolute;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @each $index, $color in $slides-map {
      &:nth-child(#{$index}) {
        animation-name: slide-#{$index}-animation;
        background: $color;
        left: ($index - 1) * 100%;
      }
    }
  }

  &__hdl {}

  &__lead {}

  &__link {}

  &__nav {}
}