@import "../variables";
@import "../utils/functions";


@for $index from 1 through length($slides-map) {
  $start: ($index - 1) * 100;

  @keyframes slide-#{$index}-animation {
    @for $i from 0 through 5 {
      $step: 0;

      @if $i == 2 or $i == 3 {
        $step: 100;
      } @else if $i == 4 or $i == 5 {
        $step: 200;
      }

      #{$i * 20%} {left: $start - $step * 1%;}
    }

  }
}

.slider{
  &__box{
    overflow: hidden;
    min-height: toRem(400px);
  }
  &__slide{
    width: 100%;
    height: toRem(400px);
    position: absolute;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    //display: flex;
    //justify-content: flex-end;
    //flex-direction: column;
    @each $index, $img in $slides-map {
      &:nth-child(#{$index}){
        animation-name: slide-#{$index}-animation;
        background-image: url("#{$imgs-path}#{$img}.jpg");
        left: ($index - 1) * 100%;
      }
    }
  }

  &__content {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: toRem(15px) toRem(100px) toRem(15px) toRem(15px);
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
  }

  &__hdl {
    font-family: "Roboto Bold", sans-serif;
  }

  &__lead {
    font-family: "Roboto Light", sans-serif;
  }

  &__link {
    position: absolute;
    right: toRem(15px);
    top: 50%;
    transform: translateY(-50%);
    background-image: url('#{$imgs-path}read-more-icon.svg');
    display: block;
    width: toRem(46px);
    height: toRem(46px);
    overflow: hidden;
    text-indent: -999px;
  }

  &__nav {}
}